<div class="card mb-4 card-talentfy shadow">
  <div class="card-header card-header-talentfy">
    {{ showCategoryTitle(position) }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group__item" *ngFor="let position of positions"
      class="list-group-item d-flex justify-content-between align-items-center">
      <span class="list-group__item__title" [ngClass]="{'text-muted': position.category === 3}">
        {{ position.name }}
      </span>
      <div>
        <fa-icon *ngIf="position.pdf !== null " [icon]="faFilePdf" class="text-danger" title="{{ position.pdf }}"></fa-icon>&nbsp;
        <span class="badge rounded-pill bg-talentfy--light">{{ position.technology }}</span>&nbsp;
        <span class="badge rounded-pill bg-success">{{ position.candidates }} candidatos</span>&nbsp;
        <button
          *ngIf="position.category !== 3"
          class="btn btn-outline-warning btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#positionModal"
          (click)="sendToModal(position)"
        >
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
