<div class="card mb-4">
  <div class="card-header card-header-talentfy">
    Nuevos
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Posición 1
      <div>
        <span class="badge rounded-pill bg-talentfy">JavaScript</span>
        &nbsp;
        <span class="badge rounded-pill bg-success">5 candidatos</span>
        &nbsp;
        <button class="btn btn-sm btn-warning">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
      </div>
    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
